//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 13 12:48:57 2018
//! **************************************************************************

SCHEMATIC START;
COMP "red" LOCATE = SITE "H14" LEVEL 1;
COMP "blue" LOCATE = SITE "G15" LEVEL 1;
COMP "clk50" LOCATE = SITE "C9" LEVEL 1;
COMP "green" LOCATE = SITE "H15" LEVEL 1;
COMP "hsync" LOCATE = SITE "F15" LEVEL 1;
COMP "reset" LOCATE = SITE "D18" LEVEL 1;
COMP "shoot" LOCATE = SITE "V16" LEVEL 1;
COMP "vsync" LOCATE = SITE "F14" LEVEL 1;
COMP "rotation_right" LOCATE = SITE "K18" LEVEL 1;
COMP "rotation_left" LOCATE = SITE "G18" LEVEL 1;
NET "clk50_BUFGP/IBUFG" BEL "clk50_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

